body {
    margin: 0;
    background: #2b2b2b;
    overflow: hidden;
    width: 100%;
}

#view-container {
    position: fixed;
    width: 100%;
    height: 100%;
}

#loading-app-name {
    font-size: 500%;
    text-align: center;
    color: white;
}

.progress-bar {
    height: 15px;
    background: #be956f;
    margin-left: 20%;
    margin-right: 20%;
}

.progress {
    width: 1%;
    height: 100%;
    background: #b8860b;
}

#loading-text {
    text-align: center;
    color: white;
}

.hidden {
    display: none;
}

.background {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

#controls {
    position: fixed;
    left: 0;
    bottom: 0;
    margin: 15px;
    display: flex;
}

#sound-toggle {
    padding: 15px;
}

.control-background {
    padding: 10px;
    background: rgba(50, 50, 50, 0.3);
    border-radius: 15px;
    margin: 3px;
    text-align: center;
}

.slider-label {
    color: white;
    text-align: center;
    margin: 0 0 7px 0;
}

.slider {
    -webkit-appearance: none;
    width: 80%;
    height: 5px;
    background: white;
    outline: none;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 10px;
    height: 20px;
    background: #b8860b;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 10px;
    height: 20px;
    background: #b8860b;
    cursor: pointer;
}

#credits-box {
    position: fixed;
    right: 0;
    bottom: 0;
    padding-left: 15px;
    padding-right: 15px;
    text-align: right;
    background: rgba(50, 50, 50, 0.3);
    border-radius: 15px;
    margin: 15px;
}

.credits {
    color: white;
}

.pop-up {
    position: absolute;
    border-radius: 15px;

    opacity: 0;
    animation-name: popup;
    animation-timing-function: linear;
}

.pop-up-video {
    box-shadow: inset 0 0 250px black;

    --scale-start: 0;
    --scale-end: 2;
    --rotation-angle: 0deg;
}

.pop-up-image {
    box-shadow: inset 0 0 250px black;

    --scale-start: 0.5;
    --scale-end: 1.75;
    --rotation-angle: 0deg;
}

.pop-up-tweet {
    background: rgba(50, 50, 50, 0.3);
    padding: 10px;

    --scale-start: 0.5;
    --scale-end: 2.5;
    --rotation-angle: 0deg;
}

.tweet-text {
    font-size: larger;
    color: white;
    word-break: break-all;
    white-space: pre-wrap;
    margin: 0 0 10px 0;
}

.tweet-author {
    font-size: large;
    margin: 0;
}

@keyframes popup {
    0% {
        transform: scale(var(--scale-start)) rotate(var(--rotation-angle));
        opacity: 0;
    }
    25%, 80% {
        opacity: 1;
    }
    100% {
        transform: scale(var(--scale-end)) rotate(var(--rotation-angle));
        opacity: 0;
    }
}
