{{ define "loading-view" }}
    <div id="loading-view">
        <pre id="loading-app-name">#waytoofast</pre>
        <div class="progress-bar">
            <div id="loading-progress" class="progress">
            </div>
        </div>
        <pre id="loading-text">Loading.</pre>
        <div id="fullscreen-wrapper">
            <div id="fullscreen-button">
                <pre id="fullscreen-text">Go fullscreen</pre>
            </div>
        </div>
    </div>
{{ end }}
